/* Style customization */
:root {
  --bg-color: #282828; /* background */
  --bg-secondary-color: #B0DEFF; /* folder */
  --color-primary: #e07493; /* font A */
  --color-lightGrey: #3f4144;
  --color-grey: #747681;
  --color-darkGrey: #d2d6dd; /* tabs */
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 180rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #FFF1E9; /* font B */ /* label */
  --font-family-sans: sans-serif;
  --font-family-mono: monospace;
}

/* Custom styles */

.square {
  aspect-ratio: 1;
  width: 100%;
}
.thumb {
  margin: auto auto;
  display: flex;
  border-radius: 0.2em;
  max-height: 100%;
  /* Vertical align */
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.image {
  border: 0.1em solid #fff;
  /*border: 0.1em solid var(--font-color);
  padding: 0.2em;*/
}
.folder {
  border-radius: 0.2em;
  padding: 0.3em;
  background-color: var(--bg-secondary-color);
  color: var(--bg-color);
  height: 100%;
  word-break: break-all;
  white-space: pre-wrap;
}
.folderlabel {
  padding: 0.3em 0.6em;
  position: absolute;
  color: var(--font-color);
  -webkit-text-stroke: 0.3em var(--color-lightGrey);
  /* text-shadow: 0 0 6px var(--color-lightGrey); */
  paint-order: stroke fill;
  z-index: 1;
  word-wrap: break-word;
  max-width: 100%;
}
.folderimg {
  min-height:100%;
  min-width: 100%;
  object-fit: cover;
  border-radius: 0.2em;
}
.imgname {
  color: var(--font-color);
}
.grow {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  align-items: center;
  aspect-ratio: 8;
  padding: 0.4em 0em;

  flex-direction: row;
  margin-left: -1.0rem;
  width: calc(100% + 2.0rem);
}
.grow .gcol {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  height: 100%;
  width: 100%;
  aspect-ratio: 1;

  margin-bottom: inherit;
  padding: 0 1.0rem;
}
.vcenter {
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*align-items:center;
  display:flex;*/
}
.imgcontainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 5.2em);
}
.imgbar {
  width: 100%;
  height: 98%;
}
.imgview {
  display: block;
  height: 100%;
  margin: auto;
  object-fit: contain;
}
.caption {
  display: flex;
  justify-content: center;
  padding: 0.2em 0 0.2em 0;
  position:relative;
}
.label {
  padding: 1rem 1rem;
  color: var(--color-lightGrey);
  background: var(--color-darkGrey);
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: var(--font-size);
  line-height: 1;
  text-align: center;
  transition: opacity 0.2s ease;
  text-decoration: none;
  transform: scale(1);
  display: inline-block;
}

.thumb {
  margin: auto auto;
  display: flex;
  border-radius: 0.2em;
  max-height: 100%;
  /* Vertical align */
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.image {
  border: 0.1em solid #fff;
  /*border: 0.1em solid var(--font-color);
  padding: 0.2em;*/
}
.video {
  border: 0.1em solid #fff;
  padding: 0 0.6em 0 0.6em;
  background-image: repeating-linear-gradient(
    0deg,
    #ccc,
    #ccc 0.5em,
    #000 0.5em,
    #000 1.3em
  );
}

.itemLink2 {
justify-content:center;
align-items: center;
display: flex;
width: 100%;
height: 100%;
}

.gridImage {
display: block;
max-width: 100%;
max-height: 100%;
border-radius: 0.2em;
}

.itemImage {
box-sizing: border-box;
display: flex;
-moz-box-align: center;
/* align-items: center; */
-moz-box-pack: center;
justify-content: center;
position: relative;
width: 100%;
height: 100%;
}

.itemBox {
box-sizing: border-box;
border: 1px solid transparent;
height: 100%;
width: 100%;
}

.itemLink {
box-sizing: border-box;
position: relative;
display: block;
text-decoration: none;
/* background-color: white; */
user-select: none;
width: 196px;
height: 196px;
/* margin-bottom: 3em; */
}

.gridItemContainer {
box-sizing: border-box;
/* width: 315px; */
position: relative;
margin: 6px 6px;
}

.gridContainer {
box-sizing: border-box;
margin-left: -10px;
margin-right: -10px;
display: flex;
flex-flow: row wrap;
}

.constrain {
  max-width: 1675px; /* dynamic with min-width */
  box-sizing: border-box;
  margin: 0px auto;
}

.progress-ring {

}

.progress-ring-circle {
  transition: 0.10s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.disabled {
  pointer-events: none;
  cursor: default;
  background-color: var(--color-grey);
}
.long {
  width: 5em;
}
